@import "tailwindcss";

@theme {
  --color-brand-yellow: #FFD84C;
  --color-light-bg: #FFF5C2;
  --color-dark-bg: #1E1E1E;
  --color-dark-card: #2A2A2A;
}

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

/* Light Mode */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

/* Dark Mode */
[data-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.checkout-input {
  @apply p-3 rounded-lg bg-transparent border border-gray-400 
  [[data-theme=dark]_&]:border-gray-600 [[data-theme=dark]_&]:text-white;
}
